{{page-title "¿Quiénes somos?"}}

<div class="container" local-class="container">

  <h2>🤔 Acerca del directorio</h2>
  <p>
    El
    <b>Directorio de Salud Mental LGBTQ+</b>
    es un proyecto creado y mantenido por
    <a href="https://incluyo.lgbt" target="_blank">Incluyo</a>. Se trata de una
    base de datos gratuita que engloba a diversas personas profesionistas de la
    salud mental que poseen conocimientos y sensibilidad hacia las necesidades
    únicas de las personas LGBTQ+ en México y paises hispanohablantes.
  </p>
  <p>
    Las personas LGBTQ+ merecen sentirse seguras en todos los espacios, incluido
    en el acceso a la salud. Por eso, hemos creado este directorio para conectar
    a personas LGBTQ+ con profesionistas que cuentan con perspectiva de género y
    de diversidad sexogenérica, de modo que todas las personas LGBTQ+ puedan ser
    abiertas y honestas al acceder a los servicios de salud mental, sin temor a
    ser estigmatizadas o enfrentar prejuicios.
  </p>

  <h2>🌈 Sobre Incluyo</h2>
  <p>
    <a href="https://incluyo.lgbt" target="_blank">Incluyo</a>
    es un emprendimiento social que fomenta el desarrollo emocional y personal
    de juventudes LGBTQ+ a través de la creación de espacios seguros. Queremos
    ser una empresa social autosustentable, trascendental y replicable que
    trabaje por cubrir las necesidades básicas de la juventud LGBTQ+ a través de
    una metodología propia.
  </p>

  <h2>ℹ️ Información para profesionistas de la salud mental</h2>
  <p>
    Si eres una organización o persona profesionista de la salud mental con
    perspectiva de diversidad sexogenérica, tienes experiencia trabajando con
    personas LGBTQ+ y te gustaría agregar tu perfil a este directorio, ponte en
    contacto con nosotres para obtener más información al correo
    <b>perfiles-dsmi&#64;incluyo.lgbt</b>.
  </p>

  <h2>⚠️ Aviso importante para personas usuarias</h2>
  <p>
    Los perfiles que aparecen en este directorio son de personas y
    organizaciones especializadas en la salud mental que se han unido a esta red
    de manera voluntaria al expresar su interés en contribuir positivamente al
    bienestar de las personas LGBTQ+. Incluyo no respalda los perfiles que
    forman parte de este directorio ni recibe ningún tipo de pago o comisión por
    enlistarles. Dicho esto, cualquier perfil puede ser retirado de forma
    inmediata. Si experimentaste un mal trato o deseas reportar alguno de los
    perfiles que aparecen en este directorio, por favor, escríbenos al correo
    <b>reportes-dsmi&#64;incluyo.lgbt</b>.
  </p>

  <p>Al acceder, utilizar y navegar por este directorio, usted acepta y se
    obliga a cumplir con los
    <a
      href="/TERMINOS_Y_CONDICIONES.pdf"
      title="Términos y Condiciones"
      target="_blank"
    >términos y condiciones
    </a>.</p>

</div>