.filter-dropdown {
  border: 1px #6c757d solid;
  padding: 15px;
  font-size: 15px;
  color: #6c757d;
  font-weight: normal;
  text-transform: none;
}

.filter-dropdown:hover {
  border: 1px #6c757d solid;
}

.filter-controls {
  padding: 18px;
  font-size: 11px;
  font-weight: bold;
}

.all-fillters {
  border: 1px #6c757d solid;
  color: #6c757d;
}

.all-fillters:hover {
  border: 1px #6c757d solid !important;
  background-color: #5c636a !important;
  color: #fff;
}

.all-fillters:active {
  border: 1px #6c757d solid;
  color: #6c757d;
}

.all-fillters:focus-visible {
  border: 1px #6c757d solid;
}

.filter-count {
  background-color: #8250ce !important;
  margin-right: 5px;
}

.price-range-mob {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.price-range-mob > div {
  max-width: 350px;
}

.input-search {
  border-radius: 0.25rem 0 0 0.25rem;
  height: 57px;
}

.btn-search {
  border-radius: 0 0.25rem 0.25rem 0;
  height: 57px;
}

@media (width <= 991px) {
  .desktop-filters {
    display: none;
  }

  .mobile-filters {
    display: flex;
    justify-content: center;
  }

  .mobile-filters > div {
    text-align: center;
  }

  .mobile-filters button {
    width: 100%;
  }
}

@media (width > 991px) {
  .desktop-filters {
    display: flex;
  }

  .mobile-filters {
    display: none;
  }
}
