.filter-dropdown {
  border: 1px #6c757d solid;
  padding: 15px;
  font-size: 15px;
  color: #6c757d;
  font-weight: normal;
  text-transform: none;
}

.filter-dropdown:hover {
  border: 1px #6c757d solid;
}

.dropdown-menu {
  padding: 15px;
}

.cities-dropdown-menu {
  width: 325px !important;
}

.price-dropdown-menu {
  width: 210px !important;
}

.filter-controls {
  padding: 18px;
  font-size: 11px;
  font-weight: bold;
}
