.bg-rainbow {
  background: linear-gradient(
    90deg,
    rgb(255 0 0 / 100%) 0%,
    rgb(255 154 0 / 100%) 10%,
    rgb(208 222 33 / 100%) 20%,
    rgb(79 220 74 / 100%) 30%,
    rgb(63 218 216 / 100%) 40%,
    rgb(47 201 226 / 100%) 50%,
    rgb(28 127 238 / 100%) 60%,
    rgb(95 21 242 / 100%) 70%,
    rgb(186 12 248 / 100%) 80%,
    rgb(251 7 217 / 100%) 90%,
    rgb(255 0 0 / 100%) 100%
  ) !important;
  color: #fff;
}

.logo-bar {
  padding-bottom: 40px;
}

.mobile-logo {
  max-width: 200px;
  word-wrap: break-word;
}

.mobile-logo h1 {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
}

.mobile-logo a {
  text-decoration: none;
}

.mobile-logo p {
  font-size: 10px;
}

.nav-check {
  display: none;
}

.nav-btn {
  display: none;
}

@media (width <= 991px) {
  .nav-btn {
    display: inline;
  }

  .nav > .nav-links {
    height: 0;
    overflow-y: hidden;
    transition: all 0.3s ease-in;
  }

  .nav > .nav-check:not(:checked) ~ .nav-links {
    height: 0;
  }

  .nav > .nav-check:checked ~ .nav-links {
    height: 130px;
    overflow-y: auto;
  }
}
