<footer local-class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6" local-class="left-column">
        <p>
          Desarrollado y mantenido por
          <a href="https://incluyo.lgbt" target="_blank">Incluyo</a>.
        </p>
      </div>
      <div class="col-md-6" local-class="righ-column">
        <p>
          ©
          {{this.currentYear}}
          Incluyo. Derechos reservados.
        </p>
      </div>
    </div>
  </div>
</footer>