<div class="card" local-class="card">
  <div class="card-body" local-class="card-body">
    <LinkTo @route="profile" @model="{{@profile.id}}">
      <h1>Name {{@profile.name}}</h1>
    </LinkTo>
  </div>
</div>