{{page-title "Profiles"}}
<div class="container" style="margin-top: 140px;">
  {{#each @model as |profile|}}
    <div id="{{profile.id}}">
      <ProfilesList::Card @profile="{{profile}}" />
    </div>
  {{/each}}
</div>